body {
    font-family: arial, hevetica, sans-serif;
    width: 1000px;
    background-color: #fcfff5;
}

div.title {
    background-color: #3e606f;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: left;
    color: #fcfff5;
    line-height: 80%;
}

div.navigation {
    background-color: #91aa9d;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
}

div.content {
    background-color: #d1dddb;
    padding: 3em;
}

div.content h1 {
    margin-top: 0px;
    margin-bottom: 0px;
}

div.content img {
    padding-bottom: 25px;
}

div.onlineOfficeHoursText {
    padding-left: 1.6em;
    padding-right: 1.6em;
    padding-top: 1em;
    padding-bottom: 1em;
}

table {
    border-color: #6E8BBF;
    border-style: none;
    border-spacing: 0px;
}

table thead tr th {
    padding: 10px;
    text-align: left;
    color: white;
    font-weight: bold;
    background-color: #3e606f;
    color: #fcfff5;
    border: solid thin #3e606f;
    margin-left: auto;
    margin-right: auto;
    font-size: 120%;
}

table thead tr th.right_col {
    border-left: solid thin #fcfff5;
}

table thead tr th.middle_col {
    border-left: solid thin #fcfff5;
    border-right: solid thin #fcfff5;
}

table thead tr th.left_col {
    border-right: solid thin #fcfff5;
}

table tbody tr th {
    padding: 10px;
    background-color: #91aa9d;
    border: solid thin #3e606f;
}

table tbody tr td {
    padding: 10px;
    border: solid thin #3e606f;
    background-color: #fcfff5;
}

.name_link {
    background-color: #91aa9d;
}


/* unvisited link */

div.navigation a:link {
    color: black;
    text-decoration: none;
    font-weight: bold;
}


/* visited link */

div.navigation a:visited {
    color: black;
    text-decoration: none;
    font-weight: bold;
}


/* mouse over link */

div.navigation a:hover {
    color: white;
    text-decoration: none;
    font-weight: bold;
}


/* selected link */

div.navigation a:active {
    color: black;
    text-decoration: none;
    font-weight: bold;
}


/* unvisited link */

td.name_link a:link {
    color: black;
    text-decoration: none;
    font-weight: bold;
}


/* visited link */

td.name_link a:visited {
    color: black;
    text-decoration: none;
    font-weight: bold;
}


/* mouse over link */

td.name_link a:hover {
    color: white;
    text-decoration: none;
    font-weight: bold;
}


/* selected link */

td.name_link a:active {
    color: black;
    text-decoration: none;
    font-weight: bold;
}
